@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, ::after, ::before{
  margin:0;
}
code {
  font-family: 'Montserrat', sans-serif,
    monospace;
}

main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0F2027;  
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

.question-container{
  /* background-color:#2C5364; */
  border-radius: 5px;
  /* box-shadow: 0 5px 15px #0F2027; */
  color:white;
  padding: 2.5rem;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.question-container h1{
  font-size: 1.2rem;
}

form{
  display: flex;
  gap:1.5rem;
  flex-direction: column;
  align-items: center;
}
.clicked{
    border: 2px solid lightblue;
    transition: 1s ease-in-out;
    outline: none;
}


form label{
  cursor: pointer;
  padding: 1rem;
  width: 100%;
}
form div{
  width: 70%;
  padding: 1em;
  border: 2px solid #203A43; 
  cursor: pointer;
  border-radius: 5px;
}

form button{
  background-color:#203A43;
  border: 2px solid transparent;
  border-radius: 5px;
  width: 50%;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  color:inherit;
  cursor: pointer;
}

form button:hover{
  border: 2px solid #0F2027;
  cursor: pointer;
}
